$link:#00B7FF;
$link_hover:#EDB236;
$deep_gray:#333;
body{font:14px "Lucida Grande",Helvetica,Arial,"microsoft yahei",simsun,sans-serif;}
*{margin:0;padding:0;}
ul,ol,li{list-style:none;}
a{color:$link;text-decoration:none;}
a:hover{color:$link_hover;text-decoration:none;}
.wraper{width:90%;margin:0 auto;}
.header{
  background:$deep_gray;color:white;line-height:48px;height:48px;
  h1{
    float:left;
  }
  a{
    color:#ccc;
    &:hover{
      color:$link_hover;
    }
  }
  nav{
    float:left;margin-left:200px;
    a{
      padding:3px 8px;
      border-radius:3px;
    }
    .active{
      background-color:lighten($deep_gray,10%);
      color:$link;
    }
  }
  .logBox{
    float:right;color:#666;
    a{
      margin:0 10px;
    }
    a:last-child{margin-right:0;}
  }
}
#base_main{
  min-height:500px;
}
.footer{border-top:2px solid $deep_gray;text-align:center;line-height:40px;}