<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>angularjs测试</title>
  <script src="js/angular.js"></script>
</head>
<body ng-app>
  <div ng-controller="models1">
    <input type="text" ng-model="aaa" placeholder="请输入">
    <p>hello:{{aaa||"请输入。。。"}}</p>
  </div>
  <div ng-controller="models2">
    <input type="text" ng-model="price" placeholder="请输入价格">
    <input type="number" ng-model="num" placeholder="1">
    <p>hello:{{(price||120)*(num||1)|currency}}</p>
  </div>
  <div ng-controller="models3">
    <input type="text" ng-model="price" placeholder="请输入价格">
    <input type="number" ng-model="num" placeholder="1">
    <p>hello:{{price*num|currency}}</p>
  </div>
  <!-- 指令 -->
  <div ng-controller="bindsss">
    <input type="text" ng-model="my"><br />
    <span ng-bind="my">12</span>
  </div>

  <!-- 循环 -->
  <ul ng-controller="loopModel" ng-init="loops = [{text:'learn angular',done:'true'},{text:'learn angular2',done:'true'}]">
    <li ng-repeat="loop in loops">{{loop.text}}</li>
  </ul>
  
  <div ng-controller="checkout">
    <input type="checkbox" ng-model="defaut_choose">
    <p>{{defaut_choose}}</p>
    <input type="checkbox" ng-model="choose" ng-true-value="yes" ng-false-value="no!">
    <p>{{choose}}</p>
    <input type="checkbox" ng-model="choose2" ng-change="backfns()">
    <p>{{choose2}}</p>
  </div>
<script>
function models1($scope){
  $scope.aaa="111";
}
function models2($scope){
  //
}
function models3($scope){
  $scope.price=150;
  $scope.num=1;
}

function bindsss($scope){
  $scope.my="test bind";
}

function loopModel($scope){
  //$scope.loops = [{text:'learn angular',done:'true'},{text:'learn angular2',done:'true'}];
}
function checkout($scope){
  $scope.defaut_choose = false;
  $scope.choose = "yes";
  $scope.backfns=function(){
    console.log(456);
  }
}
</script>

<div ng-controller="forms">
  <form action="">
    name: <input type="text" ng-model="user.name" required><br />
    email: <input type="text" ng-model="user.email"><br />
    height: <input type="text" ng-model="user.height" disabled="disabled"><br />
    sex: 男<input type="radio" name="sex" ng-model="user.choose" value="男"> 女<input type="radio" name="sex" ng-model="user.choose" value="女"><br />
    <input type="button" value="提交" ng-click="checkfn(user);">
    <input type="button" value="重置" ng-click="reset();">
  </form>
  <p>{{user | json}}</p>
  <p>{{master | json}}</p>
</div>
<script>
function forms($scope){
  $scope.master={};
  $scope.checkfn = function(user){
    $scope.master=angular.copy(user);
  }
  $scope.reset = function(){
    $scope.user = angular.copy($scope.master);
  }
  $scope.reset();
}
</script>
<input type="text">
</body>
</html>
