<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>angularjs测试</title>
  <script src="js/angular.js"></script>
</head>
<body ng-app>
  <div ng-controller="models1">
    <input type="text" ng-model="aaa" placeholder="请输入">
    <p>hello:{{aaa||"请输入。。。"}}</p>
  </div>
  <div ng-controller="models2">
    <input type="text" ng-model="price" placeholder="请输入价格">
    <input type="number" ng-model="num" placeholder="1">
    <p>hello:{{(price||120)*(num||1)|currency}}</p>
  </div>
  <div ng-controller="models3">
    <input type="text" ng-model="price" placeholder="请输入价格">
    <input type="number" ng-model="num" placeholder="1">
    <p>hello:{{price*num|currency}}</p>
  </div>
  <!-- 指令 -->
  <div ng-controller="bindsss">
    <input type="text" ng-model="my"><br />
    <span ng-bind="my">12</span>
  </div>

  <!-- 循环 -->
  <ul ng-controller="loop">
    <li ng-repeat=""></li>
  </ul>
<script>
function models1($scope){
  $scope.aaa="111";
}
function models2($scope){
  //
}
function models3($scope){
  $scope.price=150;
  $scope.num=1;
}

function bindsss($scope){
  $scope.my="test bind";
}
</script>
</body>
</html>