*{
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
body,ul,li,p,div{margin:0;padding:0;}
i,em{font-style:normal;}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
img{max-width:100%;border:none;vertical-align:top;}
body{font-size:16px;line-height:1.5em;font-family:tahoma,arial,"microsoft yahei",sans-serif;color:#4d4d4d;}
.icon{display:inline-block;vertical-align:middle;background-image:url(../img/bg.png);background-repeat:no-repeat;background-size:40px auto;}
.clearfix::after,.row::after{content:"";display:block;height:0;font:0/0 a;overflow:hidden;clear:both;}
.plr20{padding-left:20px;padding-right:20px;}
.mt15{margin-top:15px;}
.liner{height:1px;overflow:hidden;margin:15px 0;background:#ccc;}
.alignC{text-align:center;}

.content-box{margin:0 5px;}
.header{text-align:center;padding:10px 0;}
.header img{max-width:50%;line-height:}

.main-module .item{float:left;margin-left:1%;margin-top:1%;height:120px;padding-top:15px;padding-left:5%;font-size:18px;line-height:1em;color:white;}
.main-module .item::after{content:"";display:block;width:75px;height:75px;background-image:url(../img/bg.png);background-repeat:no-repeat;background-size:75px auto;}
.main-module .item:first-child{margin-left:0;}
.main-module .row2 .item{width:49.5%;}
.main-module .row3 .item{width:32.66%;}
.main-module .depart{background-color:#0FC4D9;}
.main-module .depart::after{background-position:0 0;}
.main-module .car{background-color:#F48221;}
.main-module .car::after{background-position:0 -75px;}
.main-module .flight-time{background-color:#DD455A;}
.main-module .flight-time::after{background-position:0 -150px;}
.main-module .hotel{background-color:#1BC266;}
.main-module .hotel::after{background-position:0 -225px;}
.main-module .dinner{background-color:#747AE8;}
.main-module .dinner::after{background-position:0 -300px;}
.main-module .guide{background-color:#368FF5;}
.main-module .guide::after{background-position:0 -375px;}
.main-module .route{background-color:#9656F3;}
.main-module .route::after{background-position:0 -450px;}
.main-module .service{width:100%;background-color:#FB667A;}
.main-module .service::after{background-position:0 -525px;}

.footer{text-align:center;padding:8px 0;}
.footer img{max-width:50%;}
.footer .rupper{padding:10px 0;}

.title{position:relative;height:36px;padding-left:55px;width:75%;font-size:18px;line-height:34px;color:white;}
.title::before,.title::after{content:"";position:absolute;top:0;width:0;height:0;border-width:18px 10px;border-style:solid;border-color:transparent;}
.title::before{left:0;border-left-color:white;}
.title::after{right:-20px;}
.title .icon{position:absolute;width:40px;height:34px;left:20px;top:0;}
.depart-title{background:#0FC4D9;}.depart-title::after{border-left-color:#0FC4D9;}.depart-title .icon{background-position:left -8px;}
.car-title{background:#F48221;}.car-title::after{border-left-color:#F48221;}.car-title .icon{background-position:left -48px;}
.flight-time-title{padding-left:60px;background:#DD455A;}.flight-time-title::after{border-left-color:#DD455A;}.flight-time-title .icon{background-position:left -88px;}
.hotel-title{padding-left:70px;background:#1BC266;}.hotel-title::after{border-left-color:#1BC266;}.hotel-title .icon{background-position:left -128px;}
.dinner-title{padding-left:70px;background:#747AE8;}.dinner-title::after{border-left-color:#747AE8;}.dinner-title .icon{background-position:left -168px;}
.guide-title{background:#368FF5;}.guide-title::after{border-left-color:#368FF5;}.guide-title .icon{background-position:left -208px;}
.route-title{background:#9656F3;}.route-title::after{border-left-color:#9656F3;}.route-title .icon{background-position:left -248px;}
.service-title{background:#FB667A;}.service-title::after{border-left-color:#FB667A;}.service-title .icon{background-position:left -290px;}

.content{padding:20px;}
.scroll-bar{margin-bottom:20px;}
.scroll-bar .date{margin:0 10px;}
.prev,.next{display:inline-block;width:32px;height:32px;line-height:32px;color:white;background:#F48221;text-align:center;cursor:pointer;}
.carinfo-list li{margin:10px 0;line-height:1.2em;}
.carinfo-list .highlight{margin-right:10px;font-size:14px;}

.list .highlight{margin-right:10px;}

.flight-step{border-bottom:1px solid #ccc;margin-bottom:20px;}
.flight-step .hd{background:#E6E6E6;}
.flight-step .hd .highlight{background:#fff;padding:10px 10px 10px 0;margin-right:10px;}
.flight-step .bd{padding:15px 0;text-align:center;}
.flight-step .leave{float:left;width:120px;text-align:left;}
.flight-step .arrive{float:right;width:120px;text-align:left;}
.flight-step .bd .city{width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.flight-step .bd .time{font-size:26px;font-weight:bold;}
.between{display:inline-block;width:50px;}
.between .ico-plane{width:50px;height:50px;margin-top:10px;background-position:left -318px;}

.scroll-pic{position:relative;height:70%;overflow:hidden;}
.scroll-pic .pic-list li{display:none;}
.scroll-pic .pic-list .current{display:block;}
.scroll-pic .contro-dot{position:absolute;right:10px;bottom:10px;}
.scroll-pic .contro-dot span{float:left;width:12px;height:12px;margin-left:5px;overflow:hidden;border-radius:12px;background:#999;}
.scroll-pic .contro-dot .current{background:#fff;}

.depart-footer{background:#0FC4D9;color:white;}
.car-footer{background:#F48221;color:white;}
.flight-time-footer{background:#DD455A;color:white;}
.hotel-footer{background:#1BC266;color:white;}
.dinner-footer{background:#747AE8;color:white;}
.guide-footer{background:#368FF5;color:white;}
.route-footer{background:#9656F3;color:white;}
.service-footer{background:#FB667A;color:white;}

.depart .highlight{color:#0FC4D9;}
.car .highlight{color:#F48221;}
.flight-time .highlight{color:#DD455A;}
.hotel .highlight{color:#1BC266;}
.dinner .highlight{color:#747AE8;}
.guide .highlight{color:#368FF5;}
.route .highlight{color:#9656F3;}
.service .highlight{color:#FB667A;}