<!DOCTYPE html>
<html>
  <head>
    <title>test2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <div class="wraper">
        <h1>First Node web</h1>
        <nav>
          <a href="/" class="active">首页</a>
          <a href="#">详细</a>
        </nav>
        <div class="logBox">
          <a href="/login">登录</a>|<a href="/reg">注册</a>
        </div>
      </div>
    </header>
    <div class="wraper" id="base_main">