*{margin:0;padding:0;}
body{font:14px/1.5em arial,"microsoft yahei",simsun;color:#666;}
ul,ol,li{list-style:none;}
.toolbar{-webkit-app-region:drag;height:30px;line-height:30px;background:#f0f0f0;border-bottom:1px solid #ccc;box-shadow:inset 0 -1px 0 #fff;}
.system_mutual{margin-top:-31px;position:relative;z-index:999;text-align:right;padding:3px;-webkit-user-select:none;font-size:0;letter-spacing:-0.5em;}
.system_mutual li{display:inline-block;vertical-align:top;margin-right:5px;width:24px;height:24px;font:20px/24px arial;background:#999;color:white;text-align:center;border-radius:30px;cursor:pointer;-webkit-app-region: no-drag;}
.system_mutual li:hover{background:#333;}
.system_mutual .minimum::before{content:"";display:inline-block;vertical-align:middle;width:10px;height:3px;font:0/24px a;overflow:hidden;background:white;}
.system_mutual .maximum::before{content:"";display:inline-block;vertical-align:middle;width:8px;height:8px;font:0/24px a;overflow:hidden;border:2px solid #fff;}
.system_mutual .close::before{content:"\00d7";}
.wraper{padding:10px;}